# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/
env/
*.log
.ipynb_checkpoints/

# === C / C++ ===
*.o
*.out
*.exe
*.obj
*.so
*.dll
*.dylib
*.a
*.class
*.swp
*.swo

# === IDE / Editor ===
.vscode/
.idea/
*.iml
.DS_Store
